/* media query for laptop & desktops */

@media screen and (min-width: 1100px) {

  .tablet {
    display: none;
  }

  .laptop {
    display: inline-block;
  }

  /* MENU */

  .laptop_menu_logo_div {
    position: fixed;
    width: 160px;
    z-index: 99;
    left: 20vw;
    top: 30px;
    transition: 0.4s;
  }

  .laptop_menu_logo {
    width: 100%;
    position: absolute;
  }

  .laptop_menu_logo-color {
    opacity: 1;
    width: 100%;
    transition: 0.4s;
  }

  .laptop_menu_logo_div--scroll {
    width: 80px;
    left: 20px;
    top: -50px;
  }

  .laptop_menu_logo-color--scroll {
    opacity: 0;
  }


  .hamburger_div {
    display: none;
  }

  .menu {
    transform: translateX(0);
    flex-direction: row;
    justify-content: space-around;
    height: 150px;
    padding: 0 30vw;
    width: 40vw;
    transition: 0.4s;
  }

  .menu a {
    text-align: center;
    width: 25%;
    font-size: 0.8rem;
  }

  .menu_small {
    padding: 0 15vw;
    width: 70vw;
    height: 60px;
  }

  .menu_scroll-hide {
    transform: translateY(-60px);
  }
